.footer {
  background: rgba(0, 0, 0, 0.558);
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.link,
.icons {
  margin-left: 50px;
  margin-top: 30px;
}

.link {
  color: white;
  width: 30px;
  letter-spacing: 3px;
}
.icons {
  margin-bottom: 30px;
}
.icons > a {
  transition: 0.3s ease;
  color: white;
  border-radius: 50px;
}
.icons > a:hover {
  background-color: #212d45;
  transform: scale(1.2);
  cursor: pointer;
}
