.body {
  font-family: "heebo";
  font-size: 14px;
}
.logoDiv {
  margin: 10vh auto 0;
  width: 50vh;
}
.links {
  position: absolute;
  left: 50%;
  transform: translateX(-55%);
}
.linkElem {
  display: inline-block;
  letter-spacing: 0.5rem;
}
.linkElem:not(:last-of-type)::after {
  content: "/";
  margin: 0 0.5rem;
}

.linkElem > a {
  color: #999999;
  text-decoration: none;
  transition: 0.5s color ease-in-out;
}
.linkElem > a:hover {
  color: black;
  transition: 0.5s ease-in-out;
}
